<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1003329053001-d6vrap0re8g99pt8hc747a39b1ko9t9k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1003329053001-d6vrap0re8g99pt8hc747a39b1ko9t9k</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1003329053001-9el21u3is4p1sfd9184mucm5dqibsruv.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyD3OeCH3PW2eqt79NAWrMq2dq1m-_hICjY</string>
	<key>GCM_SENDER_ID</key>
	<string>1003329053001</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.towncup.app</string>
	<key>PROJECT_ID</key>
	<string>townscup-fee6e</string>
	<key>STORAGE_BUCKET</key>
	<string>townscup-fee6e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1003329053001:ios:871cb0767d635d0d463a98</string>
	<key>DATABASE_URL</key>
	<string>https://townscup-fee6e.firebaseio.com</string>
</dict>
</plist>